<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat example using JavaScript and AJAX</title>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
    <script src="/js/chat.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="row">
      <h1>Chat example using JavaScript and AJAX</h1>
      {{{body}}}
    </div>

  </body>
</html>
