<div class="row" id="chat">
  <div class="row" id="messages">

  </div>
  <div class="row" id="input">
    <textarea name="name" rows="8" cols="40" id="messageInput" placeholder="Type youre message here"></textarea>
    <button type="button" name="sendMessage" id="sendMessageButton" class="button">Send</button>
  </div>
</div>
